{% extends "admisiones/menuAdmisiones.html" %}
{% load static %}

{% block content %}

<!-- <div class="form-group"> -->

<input type="hidden" id="Sede" name="Sede" value="{{Sede}}">
<input type="hidden" id="Perfil" name="Perfil" value="{{Perfil}}">


<table class="table  " style="height: 100px; background-color:LightGray;  width:100%;">

    <td></td>
    <td>
        <table class="table  "
               style="height: 100px; background-color:LightGray; border: 2px solid black; border-radius: 100px; width:100%;">

            <tr>
                <div class="form-group row">

                    <td>
                        {{ form.sedesClinica.label }}
                        {{form.sedesClinica}}

                    <td>

                    <td>
                        {{ form.tipoDoc.label }}
                        {{form.tipoDoc}}

                    <td>
                        {{ form.documento.label }}
                        {{form.documento}}
                    </td>

                         <td>
                        {{ form.consec.label }}
                        {{form.consec}}
                    </td>
                             <td>
                        {{ form.fechaIngreso.label }}
                        <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso" value={{
                               form.fechaIngreso }}/>

                    </td>
                </div>
            </tr>
            <tr>

                <div class="form-group row">



                     <td>
                      {{ form.extraServicio.label }}
                        {{form.extraServicio}}
                       </td>
                         <td>
                        {{ form.dependenciasIngreso.label }}
                        {{form.dependenciasIngreso}}
                    </td>

  </td>
                    <td>
                        {{ form.dxIngreso.label }}
                        {{form.dxIngreso}}
                    </td>

                        <td>
                        {{ form.medicoIngreso.label }}
                        {{form.medicoIngreso}}
                    </td>





                </div>
            </tr>

            <tr>
                 <div class="form-group row">
                        <td>
                        {{ form.estadoSalida.label }}
                        {{form.estadoSalida}}
                    </td>
                     </div>

            </tr>



            <form class="form-inline" action="/guardarAdmision/" method="POST" id="login-form"><input type="hidden"
                                                                                                      name="csrfmiddlewaretoken"
                                                                                                      value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">
                <td><input type="submit" id="guardarAdmision" name="guardarAdmision" value="Grabar"></input></td>

            </form>

            <form class="form-inline" action="/retornarAdmision/{{Sede }},  {{Perfil }}  " method="POST"
                  id="login-form"><input type="hidden"
                                         name="csrfmiddlewaretoken"
                                         value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">
                <td><input type="submit" id="retornarAdmision" name="retornarAdmision" value="Retornar"></input></td>

            </form>


        </table>
    </td>
    <td></td>
</table>
{% endblock %}